* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Ubuntu", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.nav1 {
  height: 80px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

#nav-part1 {
  display: flex;
  align-items: center;
}

#nav-part2 {
  display: flex;
  align-items: center;
  gap: 40px;
}

#nav-part2 h4 {
  font-size: 16px;
  font-weight: 500;
}

#nav-part2 h4 span {
  color: rgb(138, 138, 138);
  margin-left: 15px;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
}

.nav2 {
  height: 70px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 40px;
  padding-left: 40px;
}

.nav2 h3 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

#container{
    height: calc(100% - 150px);
    width: 100%;
    /* background-color: aquamarine; */
  
}

#text-content{
    height: 30%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#text-content::-webkit-scrollbar{
    height: 5px;
    background-color: transparent;
}

#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;  
}

.elem{
    flex-shrink: 0;
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem h1{
    font-size: 90px;
    font-weight: 300;
}

#img-content{
    height: 70%;
    width: 100%;
    background-color: rebeccapurple;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#img-content::-webkit-scrollbar{
    display: none;
}

#img-content img{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
